* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

main {
  width: 100%;
  height: 100%;
  margin: 50px auto;
}

.step-box1 {
  width: 300px;
  margin-right: 20px;
  padding: 10px;
  position: relative;
  background-color: #eee;
  float: left;
}

.step-box2 {
  width: 300px;
  margin-right: 20px;
  padding: 10px;
  position: relative;
  background-color: #eee;
  float: left;
}

.step-box3 {
  width: 300px;
  margin-right: 20px;
  padding: 10px;
  position: relative;
  background-color: #eee;
  float: left;
}

.step-box:last-child {
  margin-right: 0;
}

.step-img1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.step-img2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.step-img3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step-num {
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.title {
  margin: 15px 0 5px;
}

footer {
  height: 50px;
  background-color: #aaa;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }

  .main {
    width: 100%;
  }

  .step-box1 {
    width: 90%;
    margin: 0px auto;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    background-color: #eee;
    float: none;
  }

  .step-box2 {
    width: 90%;
    margin: 0px auto;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    background-color: #eee;
    float: none;
  }

  .step-box3 {
    width: 90%;
    margin: 0px auto;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    background-color: #eee;
    float: none;
  }
}
